################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSPGF/CSPGF/CSPGF.csproj.user
/CSPGF/CSPGF.userprefs
/CSPGF/packages/repositories.config
/CSPGF/.vs/*